<h3 style="text-align: center;">Add New Employee...</h3>
<!-- <form  [formGroup]="contactForm" (ngSubmit)="onSubmit(contactForm)"> -->
<div class="form-row">
  <app-custom-input
    class="col-md-6 col-12 col-lg-6 col-sm-12 col-xs-12 m-1"
    controlName="firstname"
    label="First Name"
    type="text"
    inputId="firstname"
    hint="Your First Name"
    error="Error: invalid Name"
  ></app-custom-input>
  <app-custom-input
    controlName="lastname"
    class="col-md-6 col-12 col-lg-6 col-sm-12 col-xs-12 m-1"
    label="Last Name"
    type="text"
    inputId="lastname"
    hint="Your lastname"
    error="Error: Not valid!"
  ></app-custom-input>
</div>
<div class="form-row">
  <app-custom-input
    controlName="email"
    class="col-md-6 col-12 col-lg-6 col-sm-12 col-xs-12 m-1"
    label="Email"
    type="text"
    inputId="email"
    hint="Your active email"
    error="Error: Not valid email format"
  ></app-custom-input>
  <app-custom-input
    controlName="phoneNo"
    class="col-md-6 col-12 col-lg-6 col-sm-12 col-xs-12 m-1"
    label="Phone No"
    type="number"
    inputId="phoneNo"
    hint="Employee Active Phone Number"
    error="Error: Not valid Phone Number"
  ></app-custom-input>
</div>
<div class="form-row">
  <kendo-label
    [for]="contactForm.skills"
    class="col-md-6 col-12 col-lg-6 col-sm-12 col-xs-12 m-1"
    text="Skill Set:"
  >
    <kendo-multiselect
      formControlName="skills"
      #skills
      [data]="listItems"
      (valueChange)="handleValueChange($event)"
    ></kendo-multiselect>
  </kendo-label>
  <kendo-label
    [for]="contactForm.designation"
    class="col-md-6 col-12 col-lg-6 col-sm-12 col-xs-12 m-1"
    text="Designation:"
  >
  <kendo-dropdownlist
      #designation
      [data]="demoItems"
      style="background-color: #FFFFFF;"
      (valueChange)="handleDropDownChange($event)"
    ></kendo-dropdownlist>
  </kendo-label>
</div>
<div style="margin: 1rem;">
  <CustomButton
    [ButtonName]="'Submit'"
    themeColor="primary"
    demo="submit"
    (click)="onSubmit(contactForm)"
  ></CustomButton>
  <CustomButton
    ButtonName="Clear"
    themeColor="secondary"
    (click)="onClear()"
  ></CustomButton>
</div>
<!-- </form> -->