<kendo-appbar class="navbar">
  <kendo-appbar-section class="logo">
    <button kendoButton fillMode="flat" (click)="onToggle()">
      <kendo-icon name="menu"></kendo-icon>
    </button>
  </kendo-appbar-section>
  <kendo-appbar-section>
    <h1 class="title">Angular Starterkit</h1>
  </kendo-appbar-section>

  <kendo-appbar-spacer></kendo-appbar-spacer>

  <kendo-appbar-section *ngIf="!authentiCated;then condition1 else condition2"></kendo-appbar-section>
  <ng-template #condition1>
    <ul>
      <li><a routerLink="/login" routerLinkActive="active">Login</a></li>
      <li><a routerLink="/signup" routerLinkActive="active">Signup</a></li>
    </ul>
  </ng-template>
  <ng-template #condition2>
    <div class="mx-2">
        <kendo-dropdownbutton
          [data]="dropDownButtonItems"
          icon="user"
          title="User Settings"
          (itemClick)="onSplitButtonItemClick($event)"
        >
          User Profile
        </kendo-dropdownbutton>
      </div>
  </ng-template>
</kendo-appbar>