<kendo-appbar>
    <kendo-appbar-section class="logo">
        <button kendoButton fillMode="flat">
            <kendo-icon name="menu"></kendo-icon>
        </button>
    </kendo-appbar-section>
    <kendo-appbar-section>
        <h1 class="title">Angular Starterkit</h1>
    </kendo-appbar-section>

    <kendo-appbar-spacer width="32px"></kendo-appbar-spacer>

      <kendo-appbar-section>
        <ul>
          <li><a routerLink="/login" routerLinkActive="active">Login</a></li>
          <li><a routerLink="/signup" routerLinkActive="active">Signup</a></li>
        </ul>
      </kendo-appbar-section>

    <kendo-appbar-spacer></kendo-appbar-spacer>
</kendo-appbar>