.kendoappbarLogin {
    background-color: white;
    color: rgb(14, 13, 13);
    box-shadow: none;
    height: 4rem;
}
.kendoappbar {
    background-color: #240754;
    color: white;
    box-shadow: none;
}

kendo-badge-container {
    margin-right: 8px;
}

.notificationButton {
    padding: 5px !important;
}

.actions .k-button {
    padding: 0;
}

.profileButton {
    margin-right: 0.3rem;
}

a {
    color: #f1f0f0;
    font-size: 15px;
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

ul li {
    display: inline-block;
    margin-right: 1rem;
}

ul li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}

ul li a:hover {
    background-color: #555;
}
.logo-holder{
    display: flex;
    justify-content: left;
    margin-right: 40px;
}
.logo {
    position: relative;
    display: inline-block;
}
.image {
    width: 5.6rem;
}