.main-container{
    width: 100vw;
    height: 90vh;
    background: #fcdae5;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1 {
    font-weight: bold;
    margin: 0;
}
p {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
}

.sub-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22);
    width: 50vw;
    max-width: 90vw;
    height: 70vh;
    display: flex;
    flex-direction: row;
}
.input {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 70%;
}
.inputs{
    margin: 20px 0 30px;
}

.form-container {
    height: 100%;
    width: 50%;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.overlay-container {
    width: 50%;
    height: 100%;
    z-index: 100;
    overflow: hidden;
}
.overlay {
    background: #FF416C;
    background: linear-gradient(142.18deg, #3793FF 0%, #FE368A 98.85%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    color: #FFFFFF;
    height: 100%;
    width: 100%;
    border-radius: 0 10px 10px 0;
}
.overlay-panel {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    height: 100%;
    width: 100%;
}

.overlay-right {
    right: 0;
    transform: translateX(0);
}

@media only screen and (max-width: 800px) {
    .sub-container{
        width: 70vw;
    }
    .form-container{
        background: #FF416C;
        background: linear-gradient(142.18deg, #3793FF 0%, #FE368A 98.85%);
        width: 100%;
        border-radius: 10px;
    }
    .overlay-container {
      display: none;
    }
}