<div class="main-container">
  <div class="sub-container">
    <div class="container">
      <div class="content">
        <h2>Contact Us</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa deserunt
          voluptatibus modi necessitatibus nulla ratione suscipit? Sed neque
          nostrum nemo ea, dolorum eum velit. Maiores iure aperiam ea facere ut.
        </p>

        <div class="inside-container">
          <div class="contactinfo">
            <div class="box">
              <div class="icon">
                <kendo-icon name="radiobutton-checked"></kendo-icon>
              </div>
              <div class="text">
                <h4>Address</h4>
                <p>
                  123, Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Ipsa.
                </p>
              </div>
            </div>
            <div class="box">
              <div class="icon">
                <kendo-icon name="email"></kendo-icon>
              </div>
              <div class="text">
                <h4>Email</h4>
                <p>ggfchgfh@gmail.com</p>
              </div>
            </div>
            <div class="box">
              <div class="icon">
                <kendo-icon name="star"></kendo-icon>
              </div>
              <div class="text">
                <h4>Phone</h4>
                <p>1234567890</p>
              </div>
            </div>
          </div>
          <div class="form">
            <form action="">
              <h2>Send Message</h2>
              <div class="inputs">
                <app-custom-input
                  className="input"
                  [control]="contactusForm.controls.name"
                  label="Name"
                  type="text"
                  inputId="name"
                  hint="Provide Name"
                  error="Error: Give Name"
                ></app-custom-input>
                <app-custom-input
                  className="input"
                  [control]="contactusForm.controls.email"
                  label="Email"
                  type="email"
                  inputId="email"
                  hint="Your active email"
                  error="Error: Not valid email format"
                ></app-custom-input>
                <kendo-formfield>
                  <kendo-label text="Questions">
                    <kendo-textarea
                      placeholder="Write here ..."
                      [formControl]="contactusForm.controls.description"
                      [rows]="4"
                      resizable="none"
                    ></kendo-textarea>
                  </kendo-label>
                  <kendo-formhint>Mention Your Query</kendo-formhint>
                  <kendo-formerror>Error: Add Your Query</kendo-formerror>
                </kendo-formfield>
              </div>
              <div class="query-button">
                <CustomButton
                  label="Submit your Query!"
                  ButtonName="Submit"
                  themeColor="primary"
                  (click)="submitForm()"
                  >Submit</CustomButton
                >
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
