h1 {
  text-align: center;
}

.wrap {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 25vw;
}

.my-avatar {
  width: 100px; /* set the width to your desired size */
  height: 100px; /* set the height to your desired size */
  flex-basis: 100px;
}

@media only screen and (max-width: 800px) {
  .wrap {
    width: 50vw;
  }
}
