<div class="main-container">
    <div class="sub-container">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio voluptatibus fugit alias eos dolores repellat quos laborum atque iure hic voluptates corporis, cumque excepturi magni quo commodi. Animi, eius numquam?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio voluptatibus fugit alias eos dolores repellat quos laborum atque iure hic voluptates corporis, cumque excepturi magni quo commodi. Animi, eius numquam?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio voluptatibus fugit alias eos dolores repellat quos laborum atque iure hic voluptates corporis, cumque excepturi magni quo commodi. Animi, eius numquam?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio voluptatibus fugit alias eos dolores repellat quos laborum atque iure hic voluptates corporis, cumque excepturi magni quo commodi. Animi, eius numquam?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio voluptatibus fugit alias eos dolores repellat quos laborum atque iure hic voluptates corporis, cumque excepturi magni quo commodi. Animi, eius numquam?</p>
    </div>
</div>
