kendo-appbar{
    background-color: #004a9f;
    color: white;
}
kendo-badge-container {
    margin-right: 8px;
}
.notificationButton{
    padding: 5px !important;
}
.actions .k-button {
    padding: 0;
}
.profileButton {
    margin-right: 0.3rem;
}
kendo-drawer-container{
    position: fixed;
    height: calc(100vh - 47px);
    width: 100%;
}
.kendoDrawerOverlay {
    /* height: calc(100vh - 70px); */
    /* margin: 10px; */
    /* margin-top: 55px; */
    width: 200px;
    border-right: none;
    background: #002b5c;
    color: white;
    border-radius: 5px;
    text-align: center;
}
.kendoDrawerPush {
    height: calc(100vh - 6rem);
    margin: 1rem;
    /* padding: 1rem; */
    /* margin-top: 55px; */
    width: 200px;
    border-right: none;
    background: #002b5c;
    color: white;
    border-radius: 5px;
    text-align: center;
}
.footerButton {
    position: absolute;
    bottom: 10px;
    left: 10px;
}
.footerButtonClose {
    position: absolute;
    bottom: 10px;
    right: 16px;
}
.content {
    height: calc(100vh - 6rem);
    margin: 1rem;
    padding: 1rem;
    /* width: 80vw; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
    color: lightgray;
    box-shadow: 0 0 5px 0px;
    border-radius: 5px;
    overflow-y: scroll;

}