<!-- Top Navigation Bar -->
<kendo-appbar position="top">
    <button kendoButton fillMode="flat" *ngIf="sidenav.mode === 'overlay'" (click)="sidenav.toggle()">
      <kendo-icon *ngIf="!sidenav.expanded" name="menu"></kendo-icon>
      <kendo-icon *ngIf="sidenav.expanded" name="close"></kendo-icon>
    </button>
    <ng-template #cond1>
      <kendo-appbar-spacer width="1px"></kendo-appbar-spacer>
    </ng-template>
    <kendo-appbar-section>
      <h2>Responsive SideBar</h2>
    </kendo-appbar-section>
    <kendo-appbar-spacer></kendo-appbar-spacer>
  
    <kendo-appbar-section class="actions">
      <button kendoButton class="notificationButton" fillMode="flat" (click)="handleNotification()">
      <kendo-badge-container>
        <button kendoButton fillMode="flat" [disabled]="true">
          <!-- (click)="notificationBar.toggle()" -->
          <kendo-icon name="bell"></kendo-icon>
        </button>
        <kendo-badge
          shape="dot"
          themeColor="warning"
          size="small"
          position="inside"
        ></kendo-badge>
      </kendo-badge-container>
    </button>
      <span class="k-appbar-separator"></span>
    </kendo-appbar-section>
    <kendo-appbar-section class="profileButton">
        <kendo-dropdownbutton [data]="dropDownButtonItems" icon="user" title="User Settings"
          (itemClick)="onSplitButtonItemClick($event)">
          <!-- User Profile -->
        </kendo-dropdownbutton>
    </kendo-appbar-section>
  </kendo-appbar>
  
  <!-- Side Navigation Bar -->
  <kendo-drawer-container>
    <kendo-drawer [ngClass]="{ 'kendoDrawerPush': (sidebarMode === 'push'), 'kendoDrawerOverlay': (sidebarMode === 'overlay') }" #sidenav [items]="items"  [autoCollapse]="false" [width]="200" [isItemExpanded]="isItemExpanded" (select)="onSelect($event)" [animation]="{ type: 'slide', duration: 400 }">
      <ng-template kendoDrawerFooterTemplate>
        <button kendoButton [ngClass]="{ 'footerButton': !sidenav.expanded, 'footerButtonClose': sidenav.expanded }"
          fillMode="flat" *ngIf="sidenav.mode === 'push'; else cond1" (click)="sidenav.toggle()">
          <kendo-icon *ngIf="!sidenav.expanded" name="arrow-chevron-right"></kendo-icon>
          <kendo-icon *ngIf="sidenav.expanded" name="close"></kendo-icon>
        </button>
      </ng-template>
    </kendo-drawer>
  
    <!-- Main Content Area -->
    <kendo-drawer-content>
      <div class="content">
        Main Content
      </div>
    </kendo-drawer-content>
  </kendo-drawer-container>