<div class="main-container">
  <div class="sub-container">
    <div class="form-container">
      <h1>Log in</h1>
      <div class="inputs">
        <app-custom-input
          className="input"
          [control]="registerForm.controls.email"
          label="Email"
          type="text"
          inputId="email"
          hint="Your active email"
          error="Error: Not valid email format"
        ></app-custom-input>
        <app-custom-input
          className="input"
          [control]="registerForm.controls.password"
          label="Password"
          type="password"
          inputId="password"
          hint="Your Password"
          error="Error: Password incorrect"
        ></app-custom-input>
      </div>
      <div>
        <CustomButton
          ButtonName="Submit"
          themeColor="primary"
          (click)="submitForm()"
        ></CustomButton>
        <CustomButton
          ButtonName="Clear"
          themeColor="secondary"
          (click)="clearForm()"
        ></CustomButton>
      </div>
    </div>
    <div class="overlay-container">
      <div class="overlay">
        <div class="overlay-panel overlay-right">
          <h1>Hello, There!</h1>
          <p>Welcome Back</p>
        </div>
      </div>
    </div>
  </div>
</div>
