kendo-drawer-container{
    position: fixed;
    height: 100vh;
    width: 100%;
}
.kendoDrawerOverlay {
    width: 200px;
    border-right: none;
    background: #002b5c;
    color: white;
    text-align: center;
}
.kendoDrawerPush {
    height: 100vh;
    width: 200px;
    border-right: none;
    background: #002b5c;
    color: white;
    text-align: center;
    border-radius: 0 0.4rem 0 0;
}
.footerButton {
    position: absolute;
    bottom: 10px;
    left: 10px;
}
.footerButtonClose {
    position: absolute;
    bottom: 10px;
    right: 16px;
}
.content {
    height: 100vh;
}
.header {
    height: 4rem;
    background: #002b5c;
    color: white;
    text-align: center;
    border-radius: 0.4rem 0 0 0;
}
.logo {
    height: 4rem;
    background: #002b5c;
    color: white;
    text-align: center;
    border-radius: 0.4rem 0 0 0;
}
.header img {
    height: 3rem;
    margin-top: 0.5rem;
}