kendo-drawer-container{
    position: fixed;
    height: calc(100vh - 47px);
    width: 100%;
}
.kendoDrawerOverlay {
    width: 200px;
    border-right: none;
    background: #002b5c;
    color: white;
    border-radius: 5px;
    text-align: center;
}
.kendoDrawerPush {
    height: calc(100vh - 6rem);
    margin: 1rem;
    width: 200px;
    border-right: none;
    background: #002b5c;
    color: white;
    border-radius: 5px;
    text-align: center;
}
.footerButton {
    position: absolute;
    bottom: 10px;
    left: 10px;
}
.footerButtonClose {
    position: absolute;
    bottom: 10px;
    right: 16px;
}
.content {
    height: calc(100vh - 6rem);
    margin: 1rem;
    padding: 1rem;
    box-shadow: 0 0 5px 0;
    border-radius: 5px;
    overflow-y: scroll;
}