.form-row {
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
@media only screen and (max-width: 800px) {
    .form-row {
        display: flex;
        flex-direction: column;
    }
}
/* 
kendo-dropdownlist {
    width: 170px;
} */